body {
    background-color: #A8DADC;
    font-family: Helvetica, Arial, sans-serif;
    color: #1D3557;
}

ul {
    list-style-type: none;
    margin: -10px;
    padding: -10px;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: #457B9D;
    font-family: Helvetica;
    text-align: center;
    margin-left: -65px;
    padding: 20px 50px;
    text-decoration: none;
}

li a:hover {
    color: #1D3557;
}