html,
body {
    max-width: 100%;
    overflow: hidden;
    border: 0;
}

body {
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
}


/*navigation bar*/

#justine {
    font-weight: bold;
    font-size: large;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #F1FAEE;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: #457B9D;
    font-family: Helvetica;
    text-align: center;
    margin-left: -65%;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    color: #1D3557;
}


/*body*/


/*vertical line*/

.line {
    border-left: 3px solid;
    border-right: 3px solid;
    border-left-color: #A8DADC;
    border-right-color: #A8DADC;
    border-radius: 20px;
    height: 250px;
    margin-top: 0%;
    margin-left: 1%;
    width: 0%;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile-container {
    margin-top: 0%;
    padding: 5% 2%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    width: 30%;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    color: #1D3557;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 12px;
    line-height: 1;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    color: #457B9D;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 12px;
    line-height: 1;
}